<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Registration and Login System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>

    <header th:insert="~{Main/base :: global-site-header}"></header>

    <div class="container mt-5">
        <!-- SI -->
        <div th:if="${param.email}">
            <h2 class="alert alert-info" th:text="'Welcome ' + ${param.email} + ' !'"></h2>

            <div>
                <h3>Please follow the instructions to enable your account.</h3>
                <ul>
                    <li>
                        <h5>1 - Accéder à votre boite mail.</h5>
                    </li>
                    <li>
                        <h5>2 - Ouvrer le mail que vous avez reçu de Global-Site.</h5>
                    </li>
                    <li>
                        <h5>3 - Cliquer sur le lien indiqué dans le mail.</h5>
                    </li>
                    <li>
                        <h5>4 - Connecter vous sur le site avec votre mail et mot de passe.</h5>
                    </li>
                </ul>

                <br></br>
                <form th:action="@{/register/token}" method="POST" class="card" style="max-width: 300px;">
                    <div class="card-header"><p class="card-title">Renvoyer le token</p></div>
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Email</span>
                            <input type="email" name="email" class="form-control" placeholder="example@example.com" required>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- SINON SI -->
        <div th:unless="${param.email} or ${param.error}" class="alert alert-warning">
            <p>You must create an account. <a href="/register">Click here to register.</a></p>
        </div>

        <div th:if="${param.success}" class="alert alert-success">
            <p>Your token is valid! <a href="/login">Click here to login</a>.</p>
        </div>

        <div th:if="${param.error}" class="alert alert-danger">
            <p>Your token is not valid !</p>

            <form th:action="@{/register/token}" method="POST" class="card" style="max-width: 300px;">
                <div class="card-header"><p class="card-title">Renvoyer le token</p></div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Email</span>
                        <input type="email" name="email" class="form-control" placeholder="example@example.com" required>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

</body>

</html>