<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Registration and Login System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>

    <header th:insert="~{Connection/base :: global-site-header}"></header>

    <div class="container mt-5">
        <div th:if="${statusToken.getArrtibute() == null}">
            <div class="alert alert-info">
                <p>Welcome! Please follow the instructions to connect and use your token.</p>
            </div>
        </div>
        <div th:if="${statusToken == 'connection'}">
            <div class="alert alert-info">
                <p th:text="'Your email is ' + ${email}"></p>
                <p>Please follow the instructions to connect and use your token.</p>
            </div>
        </div>
        <div th:if="${statusToken == 'validtoken'}">
            <div class="alert alert-success">
                <p>Token is valid! <a href="/login">Click here to login</a>.</p>
            </div>
        </div>
        <div th:if="${statusToken == 'invalidtoken'}">
            <div class="alert alert-danger">
                <p>Token is invalid! <a href="/resendToken">Click here to request a new token</a>.</p>
            </div>
        </div>
    </div>
    
</body>

</html>