<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Registration and Login System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>

    <header th:insert="~{Connection/base :: global-site-header}"></header>

    <div class="container mt-5">
        <!-- SI -->
        <div th:if="${param.email}">
            <div th:text="'You ' + ${param.email} + ' have successfully registered our app !'" class="alert alert-info"></div>

            <div class="alert alert-info">
                <p>Welcome! Please follow the instructions to connect and use your token.</p>
            </div>
        </div>
        <!-- SINON SI -->
        <div th:unless="${param.email}" class="alert alert-info">
            <p>You must create an account. <a href="/register">Click here to register.</a></p>
        </div>

        <div th:switch="${param.token}">
            <div th:case="success" class="alert alert-success">
                <p>Your token is valid! <a href="/login">Click here to login</a>.</p>
            </div>
            <div th:case="error" class="alert alert-danger">
                <p>Your token is not valid! <a href="/resendToken">Click here to request a new token.</a></p>
            </div>
        </div>

    </div>
    
</body>

</html>