<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{base :: global-site-head}">
</head>

<body>
    <header th:insert="~{base :: global-site-header}"></header>

    <form action="/login" method="POST">
        <div>
            <label for="email">Adresse e-mail :</label><br>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="password">Mot de passe :</label><br>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button type="submit">Se connecter</button>
        </div>
    </form>

    <footer th:insert="~{base :: global-site-footer}"></footer>
</body>

</html>