<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="global-site-head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="/public/css/bootstrap.css">
    <title>Global Site</title>
</head>

<body>

    <header th:fragment="global-site-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="/global-site/public/" class="navbar-brand">
                <h1>Mon site</h1>
            </a>
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a href="/global-site/public/login" class="nav-link">Se connecter</a>
                </li>
                <li class="navbar-item">
                    <a href="/global-site/public/alluser" class="nav-link">AllUser</a>
                </li>
            </ul>
        </nav>
    </header>

    <footer th:fragment="global-site-footer">
        <p>Pied de page</p>
    </footer>
</body>

</html>