<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:insert="~{base :: global-site-title}"></title>
    <link  rel="stylesheet" href="/public/css/bootstrap.css">
</head>

<body>
    <header th:insert="~{base :: global-site-header}"></header>

    <section>
        <h2>Page d'accueil</h2>
    </section>

    <footer th:insert="~{base :: global-site-footer}"></footer>
</body>

</html>