<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="#{moneymanager.head.title}">MoneyManager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <header th:insert="~{Functionnality/MoneyManager/base :: money-manager-header}"></header>

    <div class="container">
        <h1>User Details</h1>

        <h2>Bank Accounts</h2>
        <ul>
            <li th:each="account : ${user.bankAccounts}">
                <h5 th:text="${account.name}">Bank Account Name</h5>
                <h5>Date accumulés :</h5>
                <ul>
                    <li th:each="date : ${account.accumulateDates}">
                        <h6 th:text="${date}"></h6>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- Form to add a new Bank Account -->
        <form th:action="@{/MoneyManager/bankAccount/create}" th:object="${newBankAccountDto}" method="post">
            <label for="name">Bank Account Name:</label>
            <input type="text" id="name" th:field="*{name}" required/>
            <button type="submit">Add Bank Account</button>
        </form>

        <h2>Accumulators</h2>
        <ul>
            <li th:each="accumulator : ${user.accumulators}">
                <span th:text="${accumulator.name}">Accumulator Name</span>
            </li>
        </ul>

        <!-- Form to add a new Accumulator -->
        <form th:action="@{/MoneyManager/accumulator/create}" th:object="${newAccumulatorDto}" method="post">
            <label for="name">Accumulator Name:</label>
            <input type="text" id="name" th:field="*{name}" required/>

            <label for="amount">Amount:</label>
            <input type="number" id="amount" th:field="*{amount}" step="0.01" required/>

            <label for="pourcentPerMonth">Percent Per Month:</label>
            <input type="number" id="pourcentPerMonth" th:field="*{percentPerMonth}" min="0" max="100" required/>

            <button type="submit">Add Accumulator</button>
        </form>

        <h2>Labels</h2>
        <ul>
            <li th:each="label : ${user.labels}">
                <span th:text="${label.name}">Label Name</span>
            </li>
        </ul>

        <!-- Form to add a new Label -->
        <form th:action="@{/MoneyManager/label/create}" th:object="${newLabelDto}" method="post">
            <label for="name">Label Name:</label>
            <input type="text" id="name" th:field="*{name}" required/>
            <button type="submit">Add Label</button>
        </form>

        <h2>Transactions</h2>
        <form action="#" th:action="@{/MoneyManager/transaction/create}" th:object="${newTransactionDto}" method="post">
            <!-- Amount -->
            <div>
                <label for="amount">Amount</label>
                <input type="number" step="0.01" th:field="*{amount}" required />
            </div>
    
            <!-- Time (Auto-filled with current time) -->
            <div>
                <label for="time">Time</label>
                <input type="datetime-local" th:field="*{time}" required />
            </div>
    
            <!-- Bank Account -->
            <div>
                <label for="bankAccount">Bank Account</label>
                <select th:field="*{bankAccountId}" required>
                    <option th:each="bankAccount : ${user.bankAccounts}"
                            th:value="${bankAccount.bankAccountId}"
                            th:text="${bankAccount.getName()}">Account Name</option>
                </select>
            </div>
    
            <!-- Label -->
            <div>
                <label for="label">Label</label>
                <select th:field="*{labelId}" required>
                    <option th:each="label : ${user.labels}"
                            th:value="${label.labelId}"
                            th:text="${label.getName()}">Label Name</option>
                </select>
            </div>
    
            <!-- Submit Button -->
            <div>
                <button type="submit">Create Transaction</button>
            </div>
        </form>
    </div>
</body>
</html>