<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Advise list</h1>
    <table>
        <thead>
            <tr>
                <th>Content</th>
                <th>Creator</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="advice : ${advices}">
                <td th:text="${advice.getContent()}"></td>
                <!-- Assuming User entity has a 'username' property -->
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Parent Category</th>
                <th>Sub Categories</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="category : ${categories}">
                <td th:text="${category.getName()}"></td>
                <td th:text="${category.getParentCategory() != null ? category.getParentCategory().getName() : 'None'}"></td>
                <td>
                    <ul>
                        <li th:each="subCategory : ${category.getSubCategories()}" th:text="${subCategory.getName()}"></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>